.root {
  --pdLR: 172px;
  padding-top: 24px;
  padding-left: calc(var(--pdLR) + var(--pd));
  padding-right: calc(var(--pdLR) + var(--pd));
}
@media (max-width: 950px) {
  .root {
    --pdLR: 0px;
  }
}
