.root {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  svg {
    width: 76px;
    height: 76px;
  }
}
