.root {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: var(--pd);
  text-decoration: none;
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .root {
    position: unset;
  }
}
