.root {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding: 24px;
  b {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  p,
  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    height: min-content;
  }
  ul {
    list-style: none;
  }
}
