.root {
  display: flex;
  justify-content: center;
  padding: 0 var(--pd);
  align-items: center;
  height: 84px;
  background: var(--white);
  position: relative;
}
@media (max-width: 767px) {
  .root {
    flex-direction: column;
    gap: 12px;
    height: unset;
    padding: 16px 0px;
  }
}
