.root {
  width: 315px;
}
.filterTitle {
  display: flex;
  justify-content: space-between;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }
}

.clearFilters {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  * {
    color: var(--grey-500);
  }
  p {
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
  }
  transition-duration: 0.1s;
  &:active {
    transform: scale(0.99);
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 29px;
  label {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    button {
      border: none;
    }
  }
  button[type='button'] {
    border: none;
    svg {
      path {
        color: var(--grey-500);
      }
    }
  }
  button[type='submit'] {
    height: 40px;
    border-radius: 8px;
  }
}
.numberInputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 950px) {
  .root {
    width: 100%;
  }
  .form {
    margin-top: 16px;
  }
}
