.mantine-Input-input {
  height: 42px;
}
.mantine-Input-rightSection {
  margin-right: 6px;
}
.mantine-NumberInput-controlUp {
  display: flex;
  align-items: end;
}
.mantine-NumberInput-controlDown {
  display: flex;
  align-items: start;
}
.mantine-UnstyledButton-root {
  border-radius: 8px;
}
button[type='submit'].mantine-UnstyledButton-root {
  background: var(--blue-500-main);
}
